# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Temporary files
.DS_Store
Thumbs.db

# Model files - only allow in backend/models
*.h5
!backend/models/*.h5

# Allow venv but ignore unnecessary files
venv/*
!venv/
!venv/pyvenv.cfg
!venv/Scripts/
!venv/Scripts/activate*
!venv/Scripts/python.exe
!venv/Scripts/pip.exe
!venv/Lib/
!venv/Lib/site-packages/ 